<li class="food-drinks">

    <div class="item_id">{{item_id}}.</div>
    <div class="menu_item">&nbsp;{{menu_item}}</div>

    <div class="description">&nbsp;-&nbsp;{{description}}&nbsp;-&nbsp;</div>
    <div class="price">{{price}}&nbsp;$</div>

</li>