<div class="scrolls">
  <div class="up"><span>↑</span>
    <div class="center"><span>mouse <br> scrolling</span></div>
  </div>
  <div class="down"><span>↓</span></div>
</div>

<div class="smooth">

  <div class="header">
    <img class="logo" src="assets/img/logo.png" alt="">
    <ul>
      <li><a href="#home">home</a></li>
      <li><a href="#menu">menu</a></li>
      <li><a href="#order">order</a></li>
      <li><a href="#about">about</a></li>
      <li><a href="#login">login</a></li>
    </ul>
  </div>


  <section id="home">
    <h2>Section home</h2>
  </section>


  <section id="menu">
    <div class="menu">

      <h3>Our signature donuts</h3>
      <ul class="food">
        {{#each orders}}
        {{#if food}}
        {{> orders/menu-block food=true }}
        {{/if}}
        {{/each}}
      </ul>

      <h3>Our signature drinks</h3>
      <ul class="drinks">
        {{#each orders}}
        {{#if drinks}}
        {{> orders/menu-block drinks=true }}
        {{/if}}
        {{/each}}
      </ul>


      <div class="order-now-div">
        <a class="order-now" href="#order"> Order Now!</a>
      </div>


    </div>
  </section>


  <section id="order">

    <div class="order">
      <h3>Please select your order</h3>
      <ul class="order-list-ul">
        {{#each orders}}
        {{#unless this.purchase}}
        {{> orders/order-block purchase=false}}
        {{/unless}}
        {{/each}}
      </ul>

      <div class="add-now-div">
        <a class="add-now" href="#modal">Add to cart</a>
      </div>


    </div>
  </section>


  <section id="about">
    <h2>Section about</h2>
  </section>


</div>


{{> modals/modal-total }}