<div class="scrolls">
  <div class="up"><span>↑</span>
    <div class="center"><span>mouse <br> scrolling</span></div>
  </div>
  <div class="down"><span>↓</span></div>
</div>

<div class="smooth">

  <div class="header">
    <a href="#home">
      <img class="logo" src="assets/img/logo.png"></a>
    <ul>
      <li><a href="#home">home</a></li>
      <li><a href="#menu">menu</a></li>
      <li><a href="#order">order</a></li>
      <li><a href="#about">about</a></li>
      <li><a href="" data-target="#staticBackdrop" data-toggle="modal">login</a></li>
    </ul>
  </div>

  <section id="home">
    <div class="home">

      <a href="#menu">
        <h1><span>"Cheerful&nbsp;</span><span>Hippo"</span></h1>
      </a>
      <h1 class="donut-shop">Donut - Shop</h1>
      <br>
      <h3 class="text1">Making donuts big enough to satisfy even a hippopotamus<br>since 1985</h3>
      <br>
      <h3 class="text2">The Cheerful Hippo was founded in 1985 by three friends. Their goal was to bring homemade tasty
        donuts with all natural ingredients to the people in their community. These donuts are made in front of you, so
        you receive hot and fresh donuts with each order.</h3>
      <br>
      <h3 class="text3">Danielle-Ken-Yuriy</h3>
    </div>
  </section>

  <section id="menu">
    <div class="menu">

      <h3>Our signature donuts</h3>
      <ul class="food">
        {{#each orders}}
        {{#if food}}
        {{> orders/menu-block food=true }}
        {{/if}}
        {{/each}}
      </ul>

      <h3>Our signature drinks</h3>
      <ul class="drinks">
        {{#each orders}}
        {{#if drinks}}
        {{> orders/menu-block drinks=true }}
        {{/if}}
        {{/each}}
      </ul>


      <div class="order-now-div">
        <a class="order-now" href="#order"> Order Now!</a>
      </div>


    </div>
  </section>

  <section id="order">

    <div class="order">
      <h3>Please select your order</h3>
      <ul class="order-list-ul">
        {{#each orders}}
        {{#unless this.purchase}}
        {{> orders/order-block purchase=false}}
        {{/unless}}
        {{/each}}
      </ul>

      <div class="add-now-div">
        <a class="add-now" href="#modal">Add to cart</a>
      </div>


    </div>
  </section>

  <section id="about">
    <div class="about">

      <figure class="snip1566">
        <img src="assets/img/dani.jpeg" />
        <figcaption><i>
            <div class="portfolio">#Portfolio</div> Danielle Gehr
          </i></figcaption>
        <a href="https://danigehr16.github.io/Danielle-Gehr-Portfolio-/" target="_blank"></a>
      </figure>

      <figure class="snip1566">
        <img src="assets/img/ken.jpg" />
        <figcaption><i>
            <div class="portfolio">#Portfolio</div>Ken Dacanay
          </i></figcaption>
        <a href="https://kdacanay.github.io/Portfolio-Update/" target="_blank"></a>
      </figure>

      <figure class="snip1566">
        <img src="assets/img/yuriy.jpg" />
        <figcaption><i>
            <div class="portfolio">#Portfolio</div>Yuriy Horbatenko
          </i></figcaption>
        <a href="https://yuriyhorbatenko.github.io/" target="_blank"></a>
      </figure>


    </div>

  </section>

</div>

{{> modals/modal-login }}

{{> modals/modal-total }}