<div class="scrolls">
  <div class="up"><span>↑</span>
    <div class="center"><span>mouse <br> scrolling</span></div>
  </div>
  <div class="down"><span>↓</span></div>
</div>

<div class="smooth">

  <div class="header">
    <img class="logo" src="assets/img/logo.png" alt="">
    <ul>
      <li><a href="#home">home</a></li>
      <li><a href="#menu">menu</a></li>
      <li><a href="#order">order</a></li>
      <li><a href="#about">about</a></li>
      <li><a href="" data-target="#staticBackdrop" data-toggle="modal">login</a></li>
    </ul>
  </div>

  <section id="home">
    <h2>Section home</h2>
  </section>
  <section id="menu">
    <br>
    <br>
    <h2 class="text-center">Our Donut and Drink Selections!</h2>
    <ul class="menu text-center" style="list-style-type:none;" id="menuItems">
      {{#each orders}}
      {{> orders/menu-block purchase=false}}
      {{/each}}
    </ul>
    <h2 class="text-center"><a href="#order">Click to Begin Your Order!</a></h2>
  </section>
  <section id="order">
    <h2>Section order</h2>
    <ul class="order text-left" style="list-style-type:none;" id="orderItems">
      {{#each orders}}
      {{#unless this.purchase}}
      {{> orders/order-block purchase=false}}
      {{/unless}}
      {{/each}}
    </ul>
    <button class="btn btn-primary" type="submit" name="action" id="submitOrder">Submit Order</button>
    <ul class="order text-right" style="list-style-type:none;" id="purchaseItems">
      {{#each orders}}
      {{#if this.purchase}}
      {{> orders/purchase-block purchase=true}}
      {{/if}}
      {{/each}}
    </ul>

  </section>
  <section id="about">
    <h2>Section about</h2>
  </section>

</div>


{{> modals/modal-login }}

{{> modals/modal-total }}