<div class="scrolls">
  <div class="up"><span>↑</span>
    <div class="center"><span>mouse <br> scrolling</span></div>
  </div>
  <div class="down"><span>↓</span></div>
</div>

<div class="smooth">

  <div class="header">
    <img class="logo" src="assets/img/logo.png" alt="">
    <ul>
      <li><a href="#home">home</a></li>
      <li><a href="#menu">menu</a></li>
      <li><a href="#order">order</a></li>
      <li><a href="#about">about</a></li>
      <li><a href="" data-target="#staticBackdrop" data-toggle="modal">login</a></li>
    </ul>
  </div>

  <section id="home">
    <h2>Section home</h2>
  </section>
  <section id="menu">
    <h2>Section menu</h2>
  </section>
  <section id="order">
    <h2>Section order</h2>
  </section>
  <section id="about">
    <h2>Section about</h2>
  </section>

</div>


{{> modals/modal-login }}

{{> modals/modal-total }}