<div class="modal fade" id="staticBackdrop2" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-total-class">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Your Shopping Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <main>
                    <div class="basket">
                        {{!-- <div class="basket-labels">
                            <ul>
                                <li class="item item-heading">Item</li>
                                <li class="price">Price</li>
                                <li class="quantity">Quantity</li>
                                <li class="subtotal">Subtotal</li>
                            </ul>
                        </div> --}}
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul>
                                        <br>
                                        {{#each orders}}
                                        {{#if this.purchase}}
                                        {{> orders/purchase-block purchase=true}}
                                        {{/if}}
                                        {{/each}}
                                        <br>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="basket-module">
                            <label for="promo-code">Enter a promotional code</label>
                            <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
                            <button class="promo-code-cta">Apply</button>
                        </div>
                    </div>
                    <aside>
                        <div class="summary">
                            <div class="summary-total-items"><span class="total-items"></span> Items in your Bag
                            </div>
                            <div class="summary-subtotal">
                                <div class="subtotal-title">Subtotal</div>
                                <div class="subtotal-value final-value" id="basket-subtotal"></div>
                                <div class="summary-promo hide">
                                    <div class="promo-title">Promotion</div>
                                    <div class="promo-value final-value" id="basket-promo"></div>
                                </div>
                            </div>
                            <div class="summary-delivery">
                                <select name="delivery-collection" class="summary-delivery-selection">
                                    <option value="0" selected="selected">Select Collection or Delivery</option>
                                    <option value="pickUp">Pick Up At Store</option>
                                    <option value="delivery">Delivery</option>
                                </select>
                            </div>
                            <div class="summary-total">
                                <div class="total-title">Total</div>
                                <div class="total-value final-value" id="basket-total"></div>
                            </div>
                            <div class="summary-checkout">
                                <button class="checkout-cta">Go to Secure Checkout</button>
                            </div>
                        </div>
                    </aside>
                </main>
            </div>
        </div>
    </div>
</div>