<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Please log in to continue</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">

				<form method="post" action="connect.php">
					<label class="sr-only" for="inlineFormInputGroupUsername2"></label>
					<div class="input-group mb-2 mr-sm-2">
						<div class="input-group-prepend">
							<div class="input-group-text"><span class="material-icons">
									account_circle
								</span></div>
						</div>
						<input name="username" type="text" class="form-control" id="inlineFormInputGroupUsername1"
							placeholder="login" required>
					</div>

					<label class="sr-only" for="inlineFormInputGroupUsername2"></label>
					<div class="input-group mb-2 mr-sm-2">
						<div class="input-group-prepend">
							<div class="input-group-text"><span class="material-icons">
									lock
								</span></div>
						</div>
						<input name="password" type="text" class="form-control" id="inlineFormInputGroupUsername2"
							placeholder="password" required>
					</div>


					<div class="modal-footer">

						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Submit</button>

					</div>

				</form>

			</div>
		</div>
	</div>