
.toggle{
  --uiToggleSize: var(--toggleSize, 20px);
  --uiToggleIndent: var(--toggleIndent, .4em);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
  --uiToggleColor: var(--toggleColor, #000);
  --uiToggleDisabledColor: var(--toggleDisabledColor, #868e96);
  --uiToggleBgColor: var(--toggleBgColor, #fff);
  --uiToggleArrowWidth: var(--toggleArrowWidth, 3px);
  --uiToggleArrowColor: var(--toggleArrowColor, rgb(255, 255, 255));

  display: inline-block;
  position: relative;
}

.toggle__input{
  position: absolute;
  left: -99999px;
}

.toggle__label{
  display: inline-flex;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--uiToggleIndent));
}

.toggle__input:not(:disabled) ~ .toggle__label{
  cursor: pointer;
}

.toggle__label::before, 
.toggle__label::after{
  content: "";
  box-sizing: border-box;  
  width: 1em;
  height: 1em;
  font-size: var(--uiToggleSize);

  position: absolute;
  left: 0;
  top: 0;
}

.toggle__label:before{
  border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
  z-index: 2;
}

.toggle__input:disabled ~ .toggle__label::before{
  border-color: var(--uiToggleDisabledColor);
}

.toggle__input:focus ~ .toggle__label::before{
  box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
}

.toggle__input:not(:disabled):checked:focus ~ .toggle__label::after{
  box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
}

.toggle__input:not(:disabled) ~ .toggle__label::after{
  background-color: var(--uiToggleColor);
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label::after{
  opacity: 1;
}

.toggle__text{
  margin-top: 0.25rem;
  margin-bottom: auto;
  margin-left: 0.5rem;
  color: rgba(89, 32, 23, 0.897);
}

.toggle__text::before{
  content: "";
  box-sizing: border-box;
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize);

  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--uiToggleArrowColor);

  position: absolute;
  top: .85em;
  left: .5em;
  z-index: 3;

  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
}

.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text::before{
  width: 1.3em;
  height: .4em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
  will-change: width, height;
  transition: width .1s ease-out .2s, height .2s ease-out;
}

.toggle__input:disabled ~ .toggle__label{
  opacity: .24;
  cursor: not-allowed;
}

.toggle__label::before, 
.toggle__label::after{
  border-radius: 10px;
  margin-top: 0.6rem;
  margin-left: 0.5rem;
}

.toggle__input:not(:disabled) ~ .toggle__label::before,
.toggle__input:not(:disabled) ~ .toggle__label::after{
  opacity: 1;
  transform-origin: center center;
  will-change: transform;
  transition: transform .2s ease-out;
}

.toggle__input:not(:disabled) ~ .toggle__label::before{
  transform: rotateY(0deg);
  transition-delay: .2s;
}

.toggle__input:not(:disabled) ~ .toggle__label::after{
  transform: rotateY(90deg);
}

.toggle__input:not(:disabled):checked ~ .toggle__label::before{
  transform: rotateY(-90deg);
  transition-delay: 0s;
}

.toggle__input:not(:disabled):checked ~ .toggle__label::after{
  transform: rotateY(0deg);
  transition-delay: .2s;
}

.toggle__text::before{
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text::before{
  opacity: 1;
  transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
}

.toggle{
  --toggleColor: rgb(89, 32, 23);
  --toggleBgColor: rgb(89, 32, 23);
  --toggleSize: 20px;
}

.order {
  background-color: rgb(255, 255, 255);
  width: 65%;
  border-radius: 40px;
  box-shadow: 5px 5px 11px 3px rgba(0, 0, 0, 0.329);
  padding-top: 1rem;
  padding-left: 11%;
  background-image: url(../img/back4.jpg);
  font-variant: small-caps slashed-zero;
  font-size: 1.15rem;
  font-family: 'Amaranth';
  padding-bottom: 1.6rem;
}

.order-list:nth-child(odd) {
  background-color: #f3b5d0de;
  padding: 2px;
  border-radius: 1rem;
  box-shadow: 5px 5px 11px 3px rgb(0, 0, 0);
}

.order-list:nth-child(even) {
  background-color: #f3b5d0de;
  padding: 2px;
  border-radius: 1rem;
}

.order-list-ul {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 10px;
  width: 80%;
}

.order-list:nth-child(odd) {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0) translateZ(0);
  transform: perspective(0) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.order-list:nth-child(odd):before {
  position: absolute;
  z-index: -1;
  top: calc(50% - 10px);
  right: 0;
  content: '';
  
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.order-list:nth-child(odd):hover, .order-list:nth-child(odd):focus, .order-list:nth-child(odd):active {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

.order-list:nth-child(odd):hover:before, .order-list:nth-child(odd):focus:before, .order-list:nth-child(odd):active:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.order-list:nth-child(even) {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0) translateZ(0);
  transform: perspective(0) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.order-list:nth-child(even):before {
  position: absolute;
  z-index: -1;
  content: '';
  top: calc(50% - 10px);
  left: 0;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.order-list:nth-child(even):hover, .order-list:nth-child(even):focus, .order-list:nth-child(even):active {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.order-list:nth-child(even):hover:before, .order-list:nth-child(even):focus:before, .order-list:nth-child(even):active:before {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

.order h3 {
  margin-left: -20%;
  padding-bottom: 10px;
}

.add-now {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.25em;
  text-shadow: 2px 2px 2px #000000dc;
  color: #e978a9;
  font-weight: 900;
  font-family: snap;
  font-size: 1.4rem;
  margin-left: 32%;
}

.add-now::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 0;
  height: 3px;
  transition: all 0.4s linear;
}

.add-now:hover::after {
  width: 100%;
  background-color: #e978a9;
}

.add-now:hover {
  text-decoration: none;
  color: #e978a9;
}