*, ::before, ::after {
  box-sizing: border-box;
}

@font-face {
  font-family: snap;
  src: url(../font/snap.ttf);
}

body {
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.scrolls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #f4f4f4;
}

.scrolls .center {
  font-size: 0.825rem;
}

.smooth {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.logo {
  max-width: 280px;
  margin-top: 30px;
  padding: 20px;
  z-index: 2;
  position: absolute;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 60px;
  font-size: 1rem;
  background-image: linear-gradient(180deg, #1d1e22da, rgba(29, 30, 34, 0.466), transparent);
  line-height: 1.5;
  font-family: snap;
  font-size: 110%;
  letter-spacing: 3px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header ul li {
  margin: 0 1em;
  padding: 1em;
}

.header ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #e978a9;
  text-shadow: 2px 2px 2px #0000009a;
}

.header ul li a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 0;
  height: 3px;
  transition: all 0.4s linear;
}

.header ul li a:hover::after {
  width: 100%;
  background-color: #e978a9;
}

section {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #f4f4f4;
  background-image: url(../img/3.jpg);
  background-size: cover;
  scroll-snap-align: center;
}

.menu {
  background-color: rgb(255, 255, 255);
  width: 65%;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 5px 5px 11px 3px rgba(0, 0, 0, 0.329);
  padding-top: 8px; 
  background-image: url(../img/back4.jpg);
}

.food-drinks{
  display: flex;
  justify-content: flex-start;
  color: rgb(112, 48, 32);
  font-family: 'Amaranth';
}

.drinks {
  margin: 8px;
}

.food{
  margin-bottom: 8px;
}

.menu_item {
  font-weight: 900;
  text-decoration: underline;
  font-variant: small-caps;
  text-shadow: 2px 2px 2px #00000018;
}

.price{
  float: left;
  font-weight: 900;
}

.order-now {
  margin-bottom: 0px;
  width: 14rem;
  margin: 0 auto 0 auto;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-family: snap;
  color: #1d1e22;
  border-radius: 0.25em;
  text-shadow: 2px 2px 2px #000000d0;
  color: #e978a9;
}

.order-now-div {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.order-now:hover {
  text-decoration: none;
  color: #e978a9;
  text-decoration: underline;
}

section h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-family: snap;
  color: #1d1e22;
  border-radius: 0.25em;
  text-shadow: 2px 2px 2px #000000d0;
  color: #e978a9;
}

.food-drinks:nth-child(odd) {
  background-color: #f3b5d0de;
  padding: 2px;
  background-image: linear-gradient(180deg, #1d1e2218, rgba(29, 30, 34, 0.034), transparent);
}

.food-drinks:nth-child(even) {
  background-color: #e4c0cfde;
  padding: 2px;
}

section h2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 900;
  padding: 0.5em 1em;
  color: #1d1e22;
  background-color: #f4f4f4;
  mix-blend-mode: screen;
  border-radius: 0.25em;
  pointer-events: none;
  user-select: none;
}

section:nth-child(2) {
  background-image: url(../img/4.jpg);
}
section:nth-child(3) {
  background-image: url(../img/1.jpg);
}
section:nth-child(4) {
  background-image: url(../img/2.jpg);
}

.btn-primary {
  color: #fff;
  background-color: #e978a9;
  border-color: #e978a9;
  border-radius: 10px;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757dad;
  border-color: #6c757dad;
  border-radius: 10px;
}

.btn-secondary:hover {
  color: #6c757dad;
  background-color: #ffffff;
  border-color: #6c757dad;
  border-radius: 10px;
}

.btn-primary:hover {
  color: #e978a9;
  background-color: #ffffff;
  border-color: #e978a9;
  border-radius: 10px;
}

.form-control:focus {
  border-color: #e978a9;
  box-shadow: 0 0 0 0.2rem #e978a955;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #e978a955;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #e978a9;
  border-color: #e978a9;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #6c757d75;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757dad;
  border-color: #6c757dad;
}

.modal-content {
  border-radius: 25px;
  background-color: #ffffff;
}

