*, ::before, ::after {
  box-sizing: border-box;
}

@font-face {
  font-family: snap;
  src: url(../font/snap.ttf);
}

body {
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.scrolls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #f4f4f4;
}

.scrolls .center {
  font-size: 0.825rem;
}

.smooth {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.logo {
  max-width: 280px;
  margin-top: 30px;
  padding: 20px;
  z-index: 2;
  position: absolute;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 60px;
  font-size: 1rem;
  background-image: linear-gradient(180deg, #1d1e22da, rgba(29, 30, 34, 0.466), transparent);
  line-height: 1.5;
  font-family: snap;
  font-size: 110%;
  letter-spacing: 3px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header ul li {
  margin: 0 1em;
  padding: 1em;
}

.header ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #e978a9;
  text-shadow: 2px 2px 2px #0000009a;
}

.header ul li a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 0;
  height: 3px;
  transition: all 0.2s linear;
}

.header ul li a:hover::after {
  width: 100%;
  background-color: #e978a9;
}

section {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #f4f4f4;
  background-image: url(../img/3.jpg);
  background-size: cover;
  scroll-snap-align: center;
}

section h2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 900;
  padding: 0.5em 1em;
  color: #1d1e22;
  background-color: #f4f4f4;
  mix-blend-mode: screen;
  border-radius: 0.25em;
  pointer-events: none;
  user-select: none;
}
section:nth-child(2) {
  background-image: url(../img/4.jpg);
}
section:nth-child(3) {
  background-image: url(../img/1.jpg);
}
section:nth-child(4) {
  background-image: url(../img/2.jpg);
}
